* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
}

:root{
    --main-blue-color: #4C7FD9;;
    --main-dark-blue-color: #2B3D73;
    --main-white-color: #fff;
    --main-jasmine-color: #f8de7e;
    --main-cinnabar-color: ##E34234;
    --main-amaranth-pink-color: #f19cbb;
    --main-cosmic-late-color: #FFF8E7;
    --main-timber-wolf-color: #dbd7d2;
    --main-black-color: #000;
}

body{
    background-color: var(--main-blue-color);
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
.topo p{
    background: var(--main-dark-blue-color);
    color: var(--main-white-color);
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
}

header {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    transition-duration: .3s;
}
header img{
    width: 140px;
}

.h-btn {
    padding: 0 20px;
    height: 40px;
    display: inline-block;
    line-height: 42px;
    background: var(--main-white-color);
    color: var(--main-black-color);
    border: none;
    border-radius: 30px;
    font-size: 18px;
    letter-spacing: 1px;
    transition: all .30s;
    margin-left: 30px;
}

.h-btn:hover {
    transform: scale(1.1);
}

main h1{
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    text-decoration: none;
    letter-spacing: 10px;
    font-weight: normal;
    text-align: center;
    color: var(--main-white-color);
}
main form{
    padding: 0 20%;
}

#contact {
    background: var(--bg-color);
    width: 100%;
    position: relative;
}

.container-contact {
    padding: 0px 15%;
    align-items: center;
    justify-content: center;
}
.container-contact .nome {
    grid-area: nome;
}

.container-contact .telefone {
    grid-area: telefone;
}

.container-contact .email {
    grid-area: email;
}

.container-contact .mensagem {
    grid-area: mensagem;
}

.container-contact .btn {
    grid-area: botao;
}

.container-contact .labelNome {
    grid-area: labelNome;
}

.container-contact .labelTelefone {
    grid-area: labelTelefone;
}

.container-contact .labelEmail {
    grid-area: labelEmail;
}

.container-contact .labelMensagem {
    grid-area: labelMensagem;
}
form label{
    color: var(--main-white-color);
    margin-top: 15px;
}

.container-contact form {
    margin-top: 30px;
    display: grid;
    grid-template-areas:
        'labelNome labelTelefone'
        'nome telefone'
        'labelEmail labelEmail'
        'email email'
        'labelMensagem labelMensagem'
        'mensagem mensagem'
        'botao botao';
    gap: 10px;

}

.container-contact form input {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.container-contact form textarea {
    padding: 15px;
    height: 250px;
    border-radius: 20px;
    border: 1px solid #ccc;
    resize: none;
}

.container-contact form input:focus,
.container-contact form textarea:focus {
    border: 1px solid var(--main-color);
    outline: none;
}

.container-contact form .btn {
    margin-top: 30px;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid var(--main-color);
    box-shadow: 2px 5px 3px rgb(50, 50, 50);
    background: #FFD372;
    font-size: 20px;
}

.container-contact form .btn:hover {
    background: #f5bd45;
    color: var(--main-white-color);
    padding: 10px;
    box-shadow: 0px 0px 0px 0px;

    transition: all .2s;
}











footer p{
    background: var(--main-white-color);
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    
    bottom: 0;
}