* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
}

:root{
    --main-blue-color: #88C1F8;;
    --main-dark-blue-color: #2B3D73;
    --main-white-color: #fff;
    --main-jasmine-color: #f8de7e;
    --main-cinnabar-color: ##E34234;
    --main-amaranth-pink-color: #f19cbb;
    --main-cosmic-late-color: #FFF8E7;
    --main-timber-wolf-color: #dbd7d2;
    --main-black-color: #000;
}

body{
    background-color: var(--main-blue-color);
    overflow-x: hidden;
}
.topo p{
    background: var(--main-dark-blue-color);
    color: var(--main-white-color);
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
}

header {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 15px 10%;
    transition-duration: .3s;
}

.h-btn {
    padding: 0 20px;
    height: 40px;
    display: inline-block;
    line-height: 42px;
    background: var(--main-dark-blue-color);
    color: var(--main-white-color);
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .30s;
    margin-left: 30px;
}

.h-btn:hover {
    transform: scale(1.1);
}


header.sticky {
    padding: 10px 10%;
    background: var(--main-color);
}

.sticky a {
    color: #fff;
}

.sticky .navbar a::after {
    background: var(--bg-color);
}

.sticky .h-btn {
    background: #fff;
    color: #000;
}

.sticky svg {
    width: 50px;
    height: 50px;
    padding: 0;
}

header.changed {
    padding: 10px 10%;
    background: white;
}

.changed a {
    color: #000;
}

.changed .navbar a::after {
    background: var(--main-color);
}

.changed .h-btn {
    background: var(--main-color);
    color: #ffffff;
}

.changed svg {
    width: 50px;
    height: 50px;
    padding: 0;
}


svg {
    transition: all .30s;
    position: relative;
}
.imagem-inicial img{
    width: 100%;

}