* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3.5rem;
}

:root {
  --main-blue-color: #88c1f8;
  --main-dark-blue-color: #2b3d73;
  --main-white-color: #fff;
  --main-jasmine-color: #f8de7e;
  --main-cinnabar-color: ##e34234;
  --main-amaranth-pink-color: #f19cbb;
  --main-cosmic-late-color: #fff8e7;
  --main-timber-wolf-color: #dbd7d2;
  --main-black-color: #000;
  --main-blue-azure-color: #4c7fd9;
  min-height: 500%;
}

body {
  background-color: var(--main-blue-azure-color);
  overflow-x: hidden;
  max-width: 100vw;
  color: #0e0e0e;
}

.fundo_Inicial {
  background: rgb(76, 127, 217);
  background: linear-gradient(0deg,
      rgba(76, 127, 217, 1) 12%,
      rgba(255, 255, 255, 1) 62%);
}

.topo p {
  background: var(--main-dark-blue-color);
  color: var(--main-white-color);
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  text-transform: uppercase;
}

header {
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 10px 5%;
  transition-duration: 0.3s;
  align-content: center;
}

header img {
  width: 70px;
  transition: all 0.3s;
  grid-area: imagem-logo;
}

header .logo p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  margin-left: 20px;
  color: #2b3d73;
}

.texto1 {
  grid-area: texto1;
}

.texto2 {
  grid-area: texto2;
}

header .logo {
  display: grid;
  grid-template:
    "imagem-logo texto1"
    "imagem-logo texto2";
  align-items: center;
  margin-top: 20px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #2b3d73;
  margin: 8px;
}

.h-btn {
  padding: 0 20px;
  height: 40px;
  display: inline-block;
  line-height: 42px;
  background: var(--main-dark-blue-color);
  color: var(--main-white-color);
  border: none;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s;
  margin-left: 30px;
  text-transform: uppercase;
}

.h-btn:hover {
  transform: scale(1.1);
}

header.sticky {
  position: fixed;
  padding: 10px 5%;
}

.sticky a {
  color: #fff;
}

.sticky .navbar a::after {
  background: var(--bg-color);
}

.sticky img {
  width: 60px;
  padding: 0;
}

.inicio-celular {
  display: none;
}

.imagem-inicial img {
  grid-area: imagem-inicio;
  width: 100%;
  border-radius: 30px;
  box-shadow: 9px 3px 10px 3px rgba(66, 64, 64, 0.562);
}

.descricao-inicio {
  grid-area: descricao-inicio;
}

.titulo-inicio {
  grid-area: titulo-inicio;
  font-family: "Tenor Sans", sans-serif;
  font-size: 64px;
  font-weight: normal;
  letter-spacing: 3px;
}

.subtitulo-inicio {
  padding-top: 20px;
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 100;
}

.terceiro-titulo-inicio {
  margin-top: 20px;
  font-family: "League Spartan", sans-serif;
  font-weight: normal;
}

.quarto-titulo-inicio {
  font-family: "League Spartan", sans-serif;
  font-weight: normal;
  margin-top: 90px;
}

.citacao-titulo {
  font-family: "League Spartan", sans-serif;
  font-weight: lighter;
  margin-right: 10%;
  float: right;
}

.grid-container-inicio {
  display: grid;
  grid-template-areas: "descricao-inicio imagem-inicial";
  grid-template-columns: 1fr 2fr;
  width: 100%;
  padding: 90px 5%;
}



/* sobre sobre sobre */
/* sobre sobre sobre */
/* sobre sobre sobre */
#flex-sobre-onda {
  background-color: var(--main-blue-azure-color);
  width: 100%;
}

#flex-sobre-onda div {
  background-color: var(--main-cosmic-late-color);
  width: 100%;
  height: 10px;
  transform: scale(3);
}

#sobre {
  width: 100%;
  justify-items: center;
}

#sobre img {
  border-radius: 5%;
}




/* sobre sobre sobre */
/* sobre sobre sobre */
/* sobre sobre sobre */




#ondas-dao-trabalho {
  background-color: var(--main-cosmic-late-color);
}

.waves {
  position: relative;
  top: -30px;
}

.onda-1 {
  animation: moveWave1 8s ease-in-out infinite alternate;
}

.onda-2 {
  animation: moveWave2 9s 1.2s ease-in-out infinite alternate;
}

.onda-3 {
  animation: moveWave3 10s 0.7s ease-in-out infinite alternate;
}

@keyframes moveWave1 {
  from {
    transform: scaleX(5);
  }
}

@keyframes moveWave2 {
  from {
    transform: scaleX(4);
  }
}

@keyframes moveWave3 {
  from {
    transform: scaleX(3);
  }
}


@media (min-width: 1601px) {
  /* SOBRE SOBRE SOBRE SOBRE */
  /* SOBRE SOBRE SOBRE SOBRE */
  /* SOBRE SOBRE SOBRE SOBRE */

  #sobre {
    padding: 50px 5%;
    background-color: var(--main-cosmic-late-color);
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-areas:
      "titulo titulo"
      "text1 img1"
      "img2 text2"
      "text3 img3";
    row-gap: 40px;
  }

  #sobre p {
    font-size: 24pt;
    line-height: 50px;
    text-align: justify;
  }

  #sobre h1 {
    font-size: 44pt;
    padding-bottom: 20px;
  }

  #sobre img {
    max-width: 30vw;
  }
}

@media (max-width: 1200px) {
  .grid-container-inicio {
    grid-template-areas:
      "imagem-inicial"
      "descricao-inicio";
    grid-template-columns: 1fr;
    width: 100%;
    padding: 90px 5%;
    text-align: center;
  }

  .titulo-inicio {
    margin-top: 20px;
  }

  .subtitulo-inicio {
    margin-top: 20px;
    color: #fff;
  }

  .quarto-titulo-inicio {
    margin-top: 30px;
    text-align: right;
    color: #fff;
  }

  .citacao-titulo {
    margin-right: 10px;
    margin-top: 10px;
    text-align: right;
    color: #fff;
  }

  /* SOBRE SOBRE SOBRE SOBRE */
  /* SOBRE SOBRE SOBRE SOBRE */
  /* SOBRE SOBRE SOBRE SOBRE */

}


@media (max-width: 1600px) {
  .titulo-inicio {
    font-size: 50px;

  }

  /* SOBRE SOBRE SOBRE SOBRE */
  /* SOBRE SOBRE SOBRE SOBRE */
  /* SOBRE SOBRE SOBRE SOBRE */

  #sobre {
    padding: 50px 5%;
    background-color: var(--main-cosmic-late-color);
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-areas:
      "titulo titulo"
      "text1 img1"
      "img2 text2"
      "text3 img3";
    row-gap: 40px;
  }

  #sobre p {
    font-size: 16pt;
    line-height: 30px;
    text-align: justify;
  }

  #sobre h1 {
    font-size: 30pt;
    padding-bottom: 20px;
  }

  #sobre img {
    max-width: 30vw;
  }
}

@media (max-width: 1200px) {
  .grid-container-inicio {
    grid-template-areas:
      "imagem-inicial"
      "descricao-inicio";
    grid-template-columns: 1fr;
    width: 100%;
    padding: 90px 5%;
    text-align: center;
  }

  .titulo-inicio {
    margin-top: 20px;
  }

  .subtitulo-inicio {
    margin-top: 20px;
    color: #fff;
  }

  .quarto-titulo-inicio {
    margin-top: 30px;
    text-align: right;
    color: #fff;
  }

  .citacao-titulo {
    margin-right: 10px;
    margin-top: 10px;
    text-align: right;
    color: #fff;
  }

  /* SOBRE SOBRE SOBRE SOBRE */
  /* SOBRE SOBRE SOBRE SOBRE */
  /* SOBRE SOBRE SOBRE SOBRE */

}

#sobre {
  padding: 50px 5%;
  background-color: var(--main-cosmic-late-color);
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-areas:
    "titulo titulo"
    "text1 img1"
    "img2 text2"
    "text3 img3";
  row-gap: 60px;
}

#sobre p {
  font-size: 16pt;
  line-height: 30px;
  text-align: justify;
}

#sobre h1 {
  font-size: 30pt;
  padding-bottom: 20px;
}

#sobre img {
  max-width: 30vw;
}

/* SOBRE SOBRE SOBRE SOBRE */
/* SOBRE SOBRE SOBRE SOBRE */
/* SOBRE SOBRE SOBRE SOBRE */



@media (max-width: 800px) {

  .nav-list {
    z-index: 10001;
    position: absolute;
    top: 16vh;
    right: 0;
    width: 50vw;
    height: 84vh;
    background: #d2d2d2;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-list li {
    opacity: 0;
    margin-left: 0;
  }

  .nav-list a {
    background: none;
    color: #2b3d73;
    font-size: 24px;
  }

  .mobile-menu {
    display: block;
  }

  .nav-list.active {
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
  }


  .grid-container-inicio {
    display: none;
  }

  .inicio-celular {
    display: block;
  }

  .inicio-celular img {
    width: 100%;
    height: 100%;
  }

  /* SOBRE SOBRE SOBRE SOBRE */
  /* SOBRE SOBRE SOBRE SOBRE */
  /* SOBRE SOBRE SOBRE SOBRE */

  #sobre {
    padding: 50px 20px;
    background-color: var(--main-cosmic-late-color);
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-areas:
      "titulo"
      "text1"
      "img1"
      "text2"
      "img2"
      "text3"
      "img3";
    row-gap: 60px;
  }

  #sobre p {
    font-size: 16pt;
    line-height: 20px;
    text-align: justify;
  }

  #sobre h1 {
    font-size: 26pt;
    padding-bottom: 20px;
  }

  #sobre img {
    max-width: 90vw;
  }

  /* SOBRE SOBRE SOBRE SOBRE */
  /* SOBRE SOBRE SOBRE SOBRE */
  /* SOBRE SOBRE SOBRE SOBRE */


}

@media (max-width: 415px) {
  /* SOBRE SOBRE SOBRE SOBRE */
  /* SOBRE SOBRE SOBRE SOBRE */
  /* SOBRE SOBRE SOBRE SOBRE */

  #sobre {
    padding: 50px 20px;
    background-color: var(--main-cosmic-late-color);
    width: 100%;
    display: grid;
    grid-template-areas:
      "titulo"
      "text1"
      "img1"
      "text2"
      "img2"
      "text3"
      "img3";
    row-gap: 50px;
  }

  #sobre p {
    font-size: 14pt;
  }

  #sobre h1 {
    font-size: 25pt;
    padding-bottom: 20px;
  }

  #sobre img {
    max-width: 90vw;
  }

  /* SOBRE SOBRE SOBRE SOBRE */
  /* SOBRE SOBRE SOBRE SOBRE */
  /* SOBRE SOBRE SOBRE SOBRE */

}



@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

#ondas-dao-trabalho {
  background-color: var(--main-cosmic-late-color);
}


.waves {
  position: relative;
  top: -30px;
}

.onda-1 {
  animation: moveWave1 8s ease-in-out infinite alternate;
}

.onda-2 {
  animation: moveWave2 9s 1.2s ease-in-out infinite alternate;

}

.onda-3 {
  animation: moveWave3 10s 0.7s ease-in-out infinite alternate;

}

@keyframes moveWave1 {
  from {
    transform: scaleX(5);
  }
}

@keyframes moveWave2 {
  from {
    transform: scaleX(4);
  }
}

@keyframes moveWave3 {
  from {
    transform: scaleX(3);
  }
}