* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3.5rem;
}

:root {
  --main-blue-color: #4c7fd9;
  --main-dark-blue-color: #2b3d73;
  --main-white-color: #fff;
  --main-jasmine-color: #f8de7e;
  --main-cinnabar-color: ##e34234;
  --main-amaranth-pink-color: #f19cbb;
  --main-cosmic-late-color: #fff8e7;
  --main-timber-wolf-color: #dbd7d2;
  --main-black-color: #000;
  --main-blue-azure-color: #4c7fd9;
}

body {
  background-color: var(--main-blue-color);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

header {
  width: 100%;
  top: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 0px 5%;
  transition-duration: 0.3s;
  align-content: center;
  position: relative;
  margin-bottom: 40px;
}

header img {
  width: 70px;
  transition: all 0.3s;
  grid-area: imagem-logo;
}

header .logo p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  margin-left: 20px;
  color: #ffffff;
}

.texto1 {
  grid-area: texto1;
  font-family: "Josefin Sans", sans-serif;
}

.texto2 {
  grid-area: texto2;
  font-family: "Josefin Sans", sans-serif;
}

header .logo {
  display: grid;
  grid-template:
    "imagem-logo texto1"
    "imagem-logo texto2";
  align-items: center;
  margin-top: 20px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #ffffff;
  margin: 8px;
}

.h-btn {
  padding: 0 20px;
  height: 40px;
  display: inline-block;
  line-height: 42px;
  background: var(--main-white-color);
  color: var(--main-dark-blue-color);
  border: none;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s;
  margin-left: 30px;
  text-transform: uppercase;
}

.h-btn:hover {
  transform: scale(1.01);
}
.backgroud-menu {
  display: none;
}
.cel-nav {
  display: flex;
}
.midias-celular {
  display: none;
}

main h1 {
  font-family: "Lato", sans-serif;
  font-size: 80px;
  letter-spacing: 10px;
  font-weight: normal;
  text-align: center;
  color: var(--main-white-color);
  text-transform: uppercase;
}



.container {
  display: grid;
  margin: 50px 25%;
 
}

.button {
  background-color: #fff8e7;
  text-decoration-color: #000;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  text-align: center;
  color: var(--main-dark-blue-color);
  text-decoration: none;
  font-size: 20px;
  line-height: 50px;
  margin-bottom: 20px;
}
.button:hover {
  background-color: #f8de7e;
  transition: all .5s ease-in-out;
  transform: scale(1.05) ;
}

footer p {
  background: var(--main-cosmic-late-color);
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media (max-width: 800px) {
  header {
    background: #4c7fd9;
    margin: 10px auto;
    padding: 10px 5%;
  }

  header .logo p {
    color: #fff;
  }

  .header-celular-ativo {
    background: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 96vw;
  }
  .header-celular-ativo .logo p {
    color: #2b3d73;
  }
  .header-celular-ativo .mobile-menu div {
    background: #2b3d73;
  }

  .nav-list {
    z-index: 10001;
    position: absolute;
    top: 115px;
    left: 0;
    right: auto;
    background: #ffffff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: all 1s cubic-bezier(0.37, 0, 0.63, 1);
    display: none;
  }
  .backgroud-menu {
    z-index: 1;
    position: absolute;
    background-color: #4c80d99c;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
  }
  .background-celular-ativo {
    display: block;
    animation: background-celular-ativo 1s;
  }
  .cel-nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    transition: transform 1s cubic-bezier(0.37, 0, 0.63, 1);
    padding: 0 5%;
  }

  .nav-list li {
    opacity: 0;
    margin-left: 0;
  }

  .nav-list a {
    background: none;
    color: #2b3d73;
    font-size: 24px;
  }

  .cel-nav li {
    padding-top: 2vh;
    width: 100%;
    border-bottom: gray 1px solid;
    text-align: right;
  }

  .mobile-menu {
    display: block;
  }

  .nav-list.active {
    transition: all 1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: aumentar 1s cubic-bezier(0.37, 0, 0.63, 1);
    width: 96vw;
    height: 30vh;
  }
  .midias-celular-ativo {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
    animation: midias-celular 1.5s;
    align-items: center;
  }
  .midias-celular-ativo img {
    width: 50px;
    margin-left: 5%;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes background-celular-ativo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes aumentar {
  from {
    width: 96vw;
    height: 0vh;
  }
  to {
    width: 96vw;
    height: 30vh;
  }
}
@keyframes midias-celular {
  from {
    opacity: 0;
    scale: 0;
  }
  50% {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
